<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
             <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                         <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>

<!-- favicon -->
    <link rel=icon href=assets/img/favicon.png sizes="20x20" type="image/png">
    <!-- Vendor Stylesheet -->
    <link rel="stylesheet" href="~/Template2/assets/css/vendor2.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/Template2/assets/css/style2.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="~/Template2/assets/css/responsive.css">

    <link rel="stylesheet" href="~/Template1/font/flaticon.css">
    <link rel="stylesheet" href="~/Template1/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Template1/css/fontawesome-5-all.min.css">
    <link rel="stylesheet" href="~/Template1/css/font-awesome.min.css">
    <!-- Slider Revolution CSS Files -->
    <link rel="stylesheet" href="~/Template1/revolution/css/settings.css">
    <link rel="stylesheet" href="~/Template1/revolution/css/layers.css">
    <link rel="stylesheet" href="~/Template1/revolution/css/navigation.css">
    <!-- ARCHIVES CSS -->
    <link rel="stylesheet" href="~/Template1/css/animate.css">
    <link rel="stylesheet" href="~/Template1/css/aos.css">
    <link rel="stylesheet" href="~/Template1/css/aos2.css">
    <link rel="stylesheet" href="~/Template1/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Template1/css/lightcase.css">
    <link rel="stylesheet" href="~/Template1/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Template1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Template1/css/menu.css">
    <link rel="stylesheet" href="~/Template1/css/slick.css">
    <link rel="stylesheet" href="~/Template1/css/styles.css">
    <link rel="stylesheet" href="~/Template1/css/maps.css">
    <link rel="stylesheet" id="color" href="~/Template1/css/default.css">
</head>
<body>
   <div id="wrapper">

    <!-- breadcrumb area start -->
    <div class="breadcrumb-area jarallax" style="background-image:url(Template2/assets/img/bg/4.png);">
        <div class="container-contact">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <h1 class="page-title">Bize Ulasın</h1>
                        <ul class="page-list">
                            <li><a href="index.html">Anasayfa</a></li>
                            <li>Bize Ulaşın</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area End -->

    <!-- contact area start -->
    <div class="contact-area pd-top-100 pd-bottom-65">
        <div class="container-contact">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-page-map">
                        <iframe class="w-100" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=%C4%B0stanbul,%20Be%C5%9Fikta%C5%9F,%20Ma%C3%A7ka%20park%C4%B1+(Tunca%20Emlak)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="col-lg-4">
                    <form class="contact-form-wrap contact-form-bg">
                        <h4>Bize Ulaşın</h4>
                        <div class="rld-single-input">
                            <input type="text" placeholder="İsim">
                        </div>
                        <div class="rld-single-input">
                            <input type="text" placeholder="Telefon">
                        </div>
                        <div class="rld-single-input">
                            <textarea rows="10" placeholder="Mesaj"></textarea>
                        </div>
                        <div class="btn-wrap text-center">
                            <button class="btn btn-yellow">GÖNDER</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row pd-top-92">
                <div class="col-xl-3 col-sm-6">
                    <div class="single-contact-info">
                        <p><i class="fa fa-phone"></i>Bizi Arayın:</p>
                        <h5>(000) 111 222 333</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="single-contact-info">
                        <p><i class="fa fa-fax"></i>Fax:</p>
                        <h5>(000) 111 222 333</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="single-contact-info">
                        <p><i class="fa fa-envelope"></i>Sorunuz Var Mı?</p>
                        <h5>example@zwin.io</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="single-contact-info">
                        <p><i class="fa fa-phone"></i>Adres</p>
                        <h5>216 Trinity Ave, Pasadena,</h5>
                        <h5>CA 95046, United States</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact area End -->
</div>

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->

        <!-- ARCHIVES JS -->
        <script src="~/Template1/js/jquery-3.5.1.min.js"></script>
                <script src="~/Template1/js/jquery-ui.js"></script>
                <script src="~/Template1/js/tether.min.js"></script>
                <script src="~/Template1/js/popper.min.js"></script>
                <script src="~/Template1/js/moment.js"></script>
                <script src="~/Template1/js/bootstrap.min.js"></script>
                <script src="~/Template1/js/mmenu.min.js"></script>
                <script src="~/Template1/js/mmenu.js"></script>
                <script src="~/Template1/js/aos.js"></script>
                <script src="~/Template1/js/aos2.js"></script>
                <script src="~/Template1/js/slick.min.js"></script>
                <script src="~/Template1/js/fitvids.js"></script>
                <script src="~/Template1/js/jquery.waypoints.min.js"></script>
                <script src="~/Template1/js/jquery.counterup.min.js"></script>
                <script src="~/Template1/js/imagesloaded.pkgd.min.js"></script>
                <script src="~/Template1/js/isotope.pkgd.min.js"></script>
                <script src="~/Template1/js/smooth-scroll.min.js"></script>
                <script src="~/Template1/js/lightcase.js"></script>
                <script src="~/Template1/js/owl.carousel.js"></script>
                <script src="~/Template1/js/jquery.magnific-popup.min.js"></script>
                <script src="~/Template1/js/ajaxchimp.min.js"></script>
                <script src="~/Template1/js/newsletter.js"></script>
                <script src="~/Template1/js/jquery.form.js"></script>
                <script src="~/Template1/js/jquery.validate.min.js"></script>
                <script src="~/Template1/js/forms-2.js"></script>
                <script src="~/Template1/js/color-switcher.js"></script>
        
                <!-- Slider Revolution scripts -->
                <script src="~/Template1/revolution/js/jquery.themepunch.tools.min.js"></script>
                <script src="~/Template1/revolution/js/jquery.themepunch.revolution.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.actions.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.migration.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.video.min.js"></script>
        
        <script>
            $(window).on('scroll load', function() {
                $("#header.cloned #logo img").attr("src", $('#header #logo img').attr('data-sticky-logo'));
            });

        </script>

        <!-- Slider Revolution scripts -->
        <script src="~/Template1/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="~/Template1/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="~/Template1/js/script.js"></script>
        <script>
            $('.style1').owlCarousel({
                loop: true,
                margin: 10,
                autoplay: false,
                autoplayTimeout: 5000,
                responsive: {
                    0: {
                        items: 1
                    },
                    400: {
                        items: 1,
                        margin: 20
                    },
                    500: {
                        items: 1,
                        margin: 20
                    },
                    768: {
                        items: 1,
                        margin: 20
                    },
                    991: {
                        items: 1,
                        margin: 20
                    },
                    1000: {
                        items: 1,
                        margin: 20
                    }
                }
            });

        </script>
        <script>
            var tpj = jQuery;

            var revapi474;
            tpj(document).ready(function() {
                if (tpj("#rev_slider_328_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_328_1");
                } else {
                    revapi328 = tpj("#rev_slider_328_1").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: "revolution.themepunch.com/wp-content/plugins/revslider/public/assets/js/",
                        sliderLayout: "fullscreen",
                        dottedOverlay: "none",
                        delay: 10000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            mouseScrollReverse: "default",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                touchOnDesktop: "off",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                            arrows: {
                                style: "uranus",
                                enable: true,
                                hide_onmobile: false,
                                hide_onleave: false,
                                tmp: '',
                                left: {
                                    h_align: "right",
                                    v_align: "bottom",
                                    h_offset: 125,
                                    v_offset: 17
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "bottom",
                                    h_offset: 65,
                                    v_offset: 19
                                }
                            },
                            bullets: {
                                enable: true,
                                hide_onmobile: false,
                                style: "hermes",
                                hide_onleave: false,
                                direction: "horizontal",
                                h_align: "left",
                                v_align: "bottom",
                                h_offset: 7,
                                v_offset: 50,
                                space: 5,
                                tmp: ''
                            }
                        },
                        responsiveLevels: [1240, 1024, 778, 480],
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: [1240, 1024, 778, 480],
                        gridheight: [700, 700, 700, 700],
                        lazyType: "none",
                        parallax: {
                            type: "scroll",
                            origo: "slidercenter",
                            speed: 400,
                            speedbg: 0,
                            speedls: 0,
                            levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                        },
                        shadow: 0,
                        spinner: "spinner5",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        fullScreenOffset: "60",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                }; /* END OF revapi call */
            }); /*ready*/

        </script>
        
        <script>
            $('.slick-lancers').slick({
                infinite: false,
                slidesToShow: 3,
                slidesToScroll: 1,
                dots: true,
                arrows: true,
                adaptiveHeight: true,
                responsive: [{
                    breakpoint: 1292,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        dots: true,
                        arrows: false
                    }
                }, {
                    breakpoint: 993,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        dots: true,
                        arrows: false
                    }
                }, {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: true,
                        arrows: false
                    }
                }]
            });

        </script>

        <!-- MAIN JS -->
<script src="~/Template1/js/script.js"></script>


<!-- all plugins here -->
    <script src="~/Template2/assets/js/vendor2.js"></script>
    <!-- main js  -->
    <script src="~/Template2/assets/js/main2.js"></script>
    
</body>
</html>