<!DOCTYPE html>
<html lang="zxx">

@{
    Layout = null;
}
<!-- Mirrored from code-theme.com/html/findhouses/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 Aug 2022 19:00:19 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="html 5 template">
    <meta name="author" content="">
    <title>Find Houses - HTML5 Template</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="~/Template1/css/jquery-ui.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i%7CMontserrat:600,800" rel="stylesheet">
    <!-- FONT AWESOME -->
        <link rel=icon href=~/Template2/assets/img/favicon.png sizes="20x20" type="image/png">
        <!-- Vendor Stylesheet -->
        <link rel="stylesheet" href="~/Template2/assets/css/vendor.css">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="~/Template2/assets/css/style2.css">
        <!-- responsive Stylesheet -->
        <link rel="stylesheet" href="~/Template2/assets/css/responsive2.css">
    <link rel="stylesheet" href="~/Template1/font/flaticon.css">
    <link rel="stylesheet" href="~/Template1/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Template1/css/fontawesome-5-all.min.css">
    <link rel="stylesheet" href="~/Template1/css/font-awesome.min.css">
    <!-- Slider Revolution CSS Files -->
    <link rel="stylesheet" href="~/Template1/revolution/css/settings.css">
    <link rel="stylesheet" href="~/Template1/revolution/css/layers.css">
    <link rel="stylesheet" href="~/Template1/revolution/css/navigation.css">
    <!-- ARCHIVES CSS -->
    <link rel="stylesheet" href="~/Template1/css/animate.css">
    <link rel="stylesheet" href="~/Template1/css/aos.css">
    <link rel="stylesheet" href="~/Template1/css/aos2.css">
    <link rel="stylesheet" href="~/Template1/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Template1/css/lightcase.css">
    <link rel="stylesheet" href="~/Template1/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Template1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Template1/css/menu.css">
    <link rel="stylesheet" href="~/Template1/css/slick.css">
    <link rel="stylesheet" href="~/Template1/css/styles.css">
    <link rel="stylesheet" href="~/Template1/css/maps.css">
    <link rel="stylesheet" id="color" href="~/Template1/css/default.css">
</head>

<body class="homepage-4">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- START SECTION HEADINGS -->
        <!-- Header Container
        ================================================== -->
        <header id="header-container" class="header head-tr">
            <!-- Header -->
            <div id="header" class="head-tr bottom">
                <div class="container container-header">
                    <!-- Left Side Content -->
                    <div class="left-side">
                        <!-- Logo -->
                        <div id="logo">
                            <a href="~/"><img src="~/Template1/images/logo-white-1.svg" 
                                                      data-sticky-logo="images/logo-red.svg"
                                                      alt=""></a>
                        </div>
                        <!-- Mobile Navigation -->
                        <div class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
							<span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                        <!-- Main Navigation -->
                        <nav id="navigation" class="style-1 head-tr">
                            <ul id="responsive">
                                <li><a href="~/">Anasayfa</a>
                                    <li><a href="~/list">İlanlar</a></li>
                                    <li><a href="~/contactus">Bize Ulaşın</a></li>
                                    <li><a href="~/contactusnew">Hakkımızda</a></li>

                                    </ul>
                        </nav>
                        <!-- Main Navigation / End -->
                    </div>
                    <!-- Left Side Content / End -->

                    <div class="right-side d-none d-none d-lg-none d-xl-flex sign ml-0">
                        <!-- Header Widget -->
                        <div class="header-widget sign-in">
                            <div class=""><a href="https://api.whatsapp.com/send?phone=05536905025">+90 553 690 50 50</a></div>
                        </div>
                        <!-- Header Widget / End -->
                    </div>
                    <!-- Right Side Content / End -->
                    <div class="right-side d-none d-none d-lg-none d-xl-flex sign ml-0" style="margin-right:0px;border-right:unset">
                                            <!-- Header Widget -->
                                            <div class="header-widget sign-in">
                                                <div class="show-reg-form modal-open"><a href="#">Admin girişi</a></div>
                                            </div>
                                            <!-- Header Widget / End -->
                                        </div>
                    <!-- Right Side Content / End -->

              
                </div>
            </div>
            <!-- Header / End -->

        </header>
        <div class="clearfix"></div>
        <!-- Header Container / End -->

        <!-- START SECTION HEADINGS -->
        <section id="home" class="section welcome-area bg-overlay d-flex align-items-center overflow-hidden">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Welcome Intro Start -->
                    <div class="header-image left h1 col-12 col-md-7 col-lg-6">
                        <div class="welcome-intro" data-aos="fade-right">
                            <div class="left wow fadeInLeft">
                                <h1>Test 1123</h1>
                                <p>With over 400,000 active listings, FindHouses has the largest inventory of apartments in the United States..</p>
                                <a href="submit-property.html" class="btn-white">İlanları İncele</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-6">
                        <!-- Welcome Thumb -->
                        <div class="welcome-thumb text-center mx-auto" data-aos="fade-left">
                            <!-- Play Button -->
                            <a class="play-btn popup-video popup-youtube" data-fancybox href="https://www.youtube.com/watch?v=14semTlwyUY">
                                <div class="btn-circle play-animation"></div>
                                <div class="btn-circle play-animation animation-short"></div>
                                <!-- Play Icon -->
                                <div class="play-icon">
                                    <i class="fas fa-play"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Shape Bottom -->
            <div class="shape-bottom">
                <svg fill="#fff" id="Layer_1" x="0px" y="0px" viewBox="0 0 1921 819.8" style="enable-background:new 0 0 1921 819.8;" xml:space="preserve">
                    <path class="st0" d="M1921,413.1v406.7H0V0.5h0.4l228.1,598.3c30,74.4,80.8,130.6,152.5,168.6c107.6,57,212.1,40.7,245.7,34.4  c22.4-4.2,54.9-13.1,97.5-26.6L1921,400.5V413.1z"></path>
                    <path class="st1" d="M1921,387.9v431.9H0V0h13l226.6,594.4c14.4,35.7,34,67.4,58.3,94.3c24.4,26.9,54.2,49.8,88.6,68.1  c50.2,26.6,105.8,40.1,165.2,40.1c36.1,0,63.6-5.2,72.6-6.9c21.6-4,53.9-12.9,96.1-26.2L1921,387.9z"></path>
                </svg>
            </div>
        </section>
        <!-- END SECTION HEADINGS -->

        <!-- START SECTION WHY CHOOSE US -->
        <section class="how-it-works bg-white-1 home18">
            <div class="container">
                <div class="sec-title">
                    <h2><span>Why </span>Choose Us</h2>
                    <p>We provide full service at every step.</p>
                </div>
                <div class="row service-1">
                    <article class="col-lg-4 col-md-6 col-xs-12 serv" data-aos="fade-up" data-aos-delay="150">
                        <div class="serv-flex">
                            <div class="art-1 img-13">
                                <img src="~/Template1/images/icons/icon-4.svg" alt="">
                                <h3>Wide Renge Of Properties</h3>
                            </div>
                            <div class="service-text-p">
                                <p class="text-center">lorem ipsum dolor sit amet, consectetur pro adipisici consectetur debits adipisicing lacus consectetur Business Directory.</p>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-6 col-xs-12 serv" data-aos="fade-up" data-aos-delay="250">
                        <div class="serv-flex">
                            <div class="art-1 img-14">
                                <img src="~/Template1/images/icons/icon-5.svg" alt="">
                                <h3>Trusted by thousands</h3>
                            </div>
                            <div class="service-text-p">
                                <p class="text-center">lorem ipsum dolor sit amet, consectetur pro adipisici consectetur debits adipisicing lacus consectetur Business Directory.</p>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-6 col-xs-12 serv mb-0 pt" data-aos="fade-up" data-aos-delay="350">
                        <div class="serv-flex arrow">
                            <div class="art-1 img-15">
                                <img src="~/Template1/images/icons/icon-6.svg" alt="">
                                <h3>Financing made easy</h3>
                            </div>
                            <div class="service-text-p">
                                <p class="text-center">lorem ipsum dolor sit amet, consectetur pro adipisici consectetur debits adipisicing lacus consectetur Business Directory.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <!-- END SECTION WHY CHOOSE US -->

        <!-- START SECTION FEATURED PROPERTIES -->
     <div class="featured-projects pd-top-60 pd-bottom-70">
           <div class="container">
               <div class="section-title">
                   <h2 class="title">Popüler İlanlar</h2>
               </div>
               <div class="featured-slider slider-control-top">
                   <div class="item">
                       <div class="row">
                           <div class="col-lg-3 col-sm-6">
                                                   <div class="single-feature">
                                                       <div class="thumb">
                                                           <img src="~/Template2/assets/img/feature/2.png" alt="img">
                                                           
                                                       </div>
                                                       <div class="details">
                                                           
                                                           <p class="author"><i class="fa fa-user"></i> Tunca Emlak</p>
                                                           <h6 class="title"><a href="property-details.html">Havuzlu Villa</a></h6>
                                                           <h6 class="price">33₺</h6><del>790₺</del>
                                                           <ul class="info-list">
                                                               <li><i class="fa fa-bed"></i> 05 Yatak Odası</li>
                                                               <li><i class="fa fa-bath"></i> 02 Banyo</li>
                                                               <li><img src="~/Template2/assets/img/icons/7.png" alt="img"> 1898 m²</li>
                                                           </ul>
                                                           <ul class="contact-list">
                                                               <li><a class="phone" href="#"><i class="fa fa-phone"></i></a></li>
                                                               <li><a class="message" href="#"><img src="~/Template2/assets/img/icons/8.png" alt="img"></a></li>
                                                               <li><a class="btn btn-yellow" href="property-details.html">İlanı Görüntüle</a></li>
                                                           </ul>
                                                       </div>
                                                   </div>
                                               </div>
                           <div class="col-lg-3 col-sm-6">
                                                   <div class="single-feature">
                                                       <div class="thumb">
                                                           <img src="~/Template2/assets/img/feature/2.png" alt="img">
                                                           
                                                       </div>
                                                       <div class="details">
                                                           
                                                           <p class="author"><i class="fa fa-user"></i> Tunca Emlak</p>
                                                           <h6 class="title"><a href="property-details.html">Havuzlu Villa</a></h6>
                                                           <h6 class="price">350₺</h6><del>790₺</del>
                                                           <ul class="info-list">
                                                               <li><i class="fa fa-bed"></i> 05 Yatak Odası</li>
                                                               <li><i class="fa fa-bath"></i> 02 Banyo</li>
                                                               <li><img src="~/Template2/assets/img/icons/7.png" alt="img"> 1898 m²</li>
                                                           </ul>
                                                           <ul class="contact-list">
                                                               <li><a class="phone" href="#"><i class="fa fa-phone"></i></a></li>
                                                               <li><a class="message" href="#"><img src="~/Template2/assets/img/icons/8.png" alt="img"></a></li>
                                                               <li><a class="btn btn-yellow" href="property-details.html">İlanı Görüntüle</a></li>
                                                           </ul>
                                                       </div>
                                                   </div>
                                               </div>
                           <div class="col-lg-3 col-sm-6">
                               <div class="single-feature">
                                   <div class="thumb">
                                       <img src="~/Template2/assets/img/feature/2.png" alt="img">
                                       
                                   </div>
                                   <div class="details">
                                       
                                       <p class="author"><i class="fa fa-user"></i> Tunca Emlak</p>
                                       <h6 class="title"><a href="property-details.html">Havuzlu Villa</a></h6>
                                       <h6 class="price">350₺</h6><del>790₺</del>
                                       <ul class="info-list">
                                           <li><i class="fa fa-bed"></i> 05 Yatak Odası</li>
                                           <li><i class="fa fa-bath"></i> 02 Banyo</li>
                                           <li><img src="~/Template2/assets/img/icons/7.png" alt="img"> 1898 m²</li>
                                       </ul>
                                       <ul class="contact-list">
                                           <li><a class="phone" href="#"><i class="fa fa-phone"></i></a></li>
                                           <li><a class="message" href="#"><img src="~/Template2/assets/img/icons/8.png" alt="img"></a></li>
                                           <li><a class="btn btn-yellow" href="property-details.html">İlanı Görüntüle</a></li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                           <div class="col-lg-3 col-sm-6">
                               <div class="single-feature">
                                   <div class="thumb">
                                       <img src="~/Template2/assets/img/feature/3.png" alt="img">
                                       
                                   </div>
                                   <div class="details">
                                       
                                       <p class="author"><i class="fa fa-user"></i> Tunca Emlak</p>
                                       <h6 class="title"><a href="property-details.html">Havuzlu Villa</a></h6>
                                       <h6 class="price">350₺</h6><del>790₺</del>
                                       <ul class="info-list">
                                           <li><i class="fa fa-bed"></i> 05 Yatak Odası</li>
                                           <li><i class="fa fa-bath"></i> 02 Banyo</li>
                                           <li><img src="~/Template2/assets/img/icons/7.png" alt="img"> 1898 m²</li>
                                       </ul>
                                       <ul class="contact-list">
                                           <li><a class="phone" href="#"><i class="fa fa-phone"></i></a></li>
                                           <li><a class="message" href="#"><img src="~/Template2/assets/img/icons/8.png" alt="img"></a></li>
                                           <li><a class="btn btn-yellow" href="property-details.html">İlanı Görüntüle</a></li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="item">
                       <div class="row">
                           <div class="col-lg-3 col-sm-6">
                                                       <div class="single-feature">
                                                           <div class="thumb">
                                                               <img src="~/Template2/assets/img/feature/2.png" alt="img">
                                                               
                                                           </div>
                                                           <div class="details">
                                                               
                                                               <p class="author"><i class="fa fa-user"></i> Tunca Emlak</p>
                                                               <h6 class="title"><a href="property-details.html">Havuzlu Villa</a></h6>
                                                               <h6 class="price">22₺</h6><del>790₺</del>
                                                               <ul class="info-list">
                                                                   <li><i class="fa fa-bed"></i> 05 Yatak Odası</li>
                                                                   <li><i class="fa fa-bath"></i> 02 Banyo</li>
                                                                   <li><img src="~/Template2/assets/img/icons/7.png" alt="img"> 1898 m²</li>
                                                               </ul>
                                                               <ul class="contact-list">
                                                                   <li><a class="phone" href="#"><i class="fa fa-phone"></i></a></li>
                                                                   <li><a class="message" href="#"><img src="~/Template2/assets/img/icons/8.png" alt="img"></a></li>
                                                                   <li><a class="btn btn-yellow" href="property-details.html">İlanı Görüntüle</a></li>
                                                               </ul>
                                                           </div>
                                                       </div>
                                                   </div>
                           <div class="col-lg-3 col-sm-6">
                                                                               <div class="single-feature">
                                                                                   <div class="thumb">
                                                                                       <img src="~/Template2/assets/img/feature/2.png" alt="img">
                                                                                       
                                                                                   </div>
                                                                                   <div class="details">
                                                                                       
                                                                                       <p class="author"><i class="fa fa-user"></i> Tunca Emlak</p>
                                                                                       <h6 class="title"><a href="property-details.html">Havuzlu Villa</a></h6>
                                                                                       <h6 class="price">350₺</h6><del>790₺</del>
                                                                                       <ul class="info-list">
                                                                                           <li><i class="fa fa-bed"></i> 05 Yatak Odası</li>
                                                                                           <li><i class="fa fa-bath"></i> 02 Banyo</li>
                                                                                           <li><img src="~/Template2/assets/img/icons/7.png" alt="img"> 1898 m²</li>
                                                                                       </ul>
                                                                                       <ul class="contact-list">
                                                                                           <li><a class="phone" href="#"><i class="fa fa-phone"></i></a></li>
                                                                                           <li><a class="message" href="#"><img src="~/Template2/assets/img/icons/8.png" alt="img"></a></li>
                                                                                           <li><a class="btn btn-yellow" href="property-details.html">İlanı Görüntüle</a></li>
                                                                                       </ul>
                                                                                   </div>
                                                                               </div>
                                                                           </div>
                           <div class="col-lg-3 col-sm-6">
                               <div class="single-feature">
                                   <div class="thumb">
                                       <img src="~/Template2/assets/img/feature/2.png" alt="img">
                                       
                                   </div>
                                   <div class="details">
                                       
                                       <p class="author"><i class="fa fa-user"></i> Tunca Emlak</p>
                                       <h6 class="title"><a href="property-details.html">Havuzlu Villa</a></h6>
                                       <h6 class="price">350₺</h6><del>790₺</del>
                                       <ul class="info-list">
                                           <li><i class="fa fa-bed"></i> 05 Yatak Odası</li>
                                           <li><i class="fa fa-bath"></i> 02 Banyo</li>
                                           <li><img src="~/Template2/assets/img/icons/7.png" alt="img"> 1898 m²</li>
                                       </ul>
                                       <ul class="contact-list">
                                           <li><a class="phone" href="#"><i class="fa fa-phone"></i></a></li>
                                           <li><a class="message" href="#"><img src="~/Template2/assets/img/icons/8.png" alt="img"></a></li>
                                           <li><a class="btn btn-yellow" href="property-details.html">İlanı Görüntüle</a></li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                           <div class="col-lg-3 col-sm-6">
                               <div class="single-feature">
                                   <div class="thumb">
                                       <img src="~/Template2/assets/img/feature/3.png" alt="img">
                                       
                                   </div>
                                   <div class="details">
                                       
                                       <p class="author"><i class="fa fa-user"></i> Tunca Emlak</p>
                                       <h6 class="title"><a href="property-details.html">Havuzlu Villa</a></h6>
                                       <h6 class="price">350₺</h6><del>790₺</del>
                                       <ul class="info-list">
                                           <li><i class="fa fa-bed"></i> 05 Yatak Odası</li>
                                           <li><i class="fa fa-bath"></i> 02 Banyo</li>
                                           <li><img src="~/Template2/assets/img/icons/7.png" alt="img"> 1898 m²</li>
                                       </ul>
                                       <ul class="contact-list">
                                           <li><a class="phone" href="#"><i class="fa fa-phone"></i></a></li>
                                           <li><a class="message" href="#"><img src="~/Template2/assets/img/icons/8.png" alt="img"></a></li>
                                           <li><a class="btn btn-yellow" href="property-details.html">İlanı Görüntüle</a></li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                    <div class="item">
                                       <div class="row">
                                           <div class="col-lg-3 col-sm-6">
                                                                       <div class="single-feature">
                                                                           <div class="thumb">
                                                                               <img src="~/Template2/assets/img/feature/2.png" alt="img">
                                                                               
                                                                           </div>
                                                                           <div class="details">
                                                                               
                                                                               <p class="author"><i class="fa fa-user"></i> Tunca Emlak</p>
                                                                               <h6 class="title"><a href="property-details.html">Havuzlu Villa</a></h6>
                                                                               <h6 class="price">350₺</h6><del>790₺</del>
                                                                               <ul class="info-list">
                                                                                   <li><i class="fa fa-bed"></i> 05 Yatak Odası</li>
                                                                                   <li><i class="fa fa-bath"></i> 02 Banyo</li>
                                                                                   <li><img src="~/Template2/assets/img/icons/7.png" alt="img"> 1898 m²</li>
                                                                               </ul>
                                                                               <ul class="contact-list">
                                                                                   <li><a class="phone" href="#"><i class="fa fa-phone"></i></a></li>
                                                                                   <li><a class="message" href="#"><img src="~/Template2/assets/img/icons/8.png" alt="img"></a></li>
                                                                                   <li><a class="btn btn-yellow" href="property-details.html">İlanı Görüntüle</a></li>
                                                                               </ul>
                                                                           </div>
                                                                       </div>
                                                                   </div>
                                           <div class="col-lg-3 col-sm-6">
                                                                                               <div class="single-feature">
                                                                                                   <div class="thumb">
                                                                                                       <img src="~/Template2/assets/img/feature/2.png" alt="img">
                                                                                                       
                                                                                                   </div>
                                                                                                   <div class="details">
                                                                                                       
                                                                                                       <p class="author"><i class="fa fa-user"></i> Tunca Emlak</p>
                                                                                                       <h6 class="title"><a href="property-details.html">Havuzlu Villa</a></h6>
                                                                                                       <h6 class="price">11₺</h6><del>790₺</del>
                                                                                                       <ul class="info-list">
                                                                                                           <li><i class="fa fa-bed"></i> 05 Yatak Odası</li>
                                                                                                           <li><i class="fa fa-bath"></i> 02 Banyo</li>
                                                                                                           <li><img src="~/Template2/assets/img/icons/7.png" alt="img"> 1898 m²</li>
                                                                                                       </ul>
                                                                                                       <ul class="contact-list">
                                                                                                           <li><a class="phone" href="#"><i class="fa fa-phone"></i></a></li>
                                                                                                           <li><a class="message" href="#"><img src="~/Template2/assets/img/icons/8.png" alt="img"></a></li>
                                                                                                           <li><a class="btn btn-yellow" href="property-details.html">İlanı Görüntüle</a></li>
                                                                                                       </ul>
                                                                                                   </div>
                                                                                               </div>
                                                                                           </div>
                                           <div class="col-lg-3 col-sm-6">
                                               <div class="single-feature">
                                                   <div class="thumb">
                                                       <img src="~/Template2/assets/img/feature/2.png" alt="img">
                                                       
                                                   </div>
                                                   <div class="details">
                                                       
                                                       <p class="author"><i class="fa fa-user"></i> Tunca Emlak</p>
                                                       <h6 class="title"><a href="property-details.html">Havuzlu Villa</a></h6>
                                                       <h6 class="price">350₺</h6><del>790₺</del>
                                                       <ul class="info-list">
                                                           <li><i class="fa fa-bed"></i> 05 Yatak Odası</li>
                                                           <li><i class="fa fa-bath"></i> 02 Banyo</li>
                                                           <li><img src="~/Template2/assets/img/icons/7.png" alt="img"> 1898 m²</li>
                                                       </ul>
                                                       <ul class="contact-list">
                                                           <li><a class="phone" href="#"><i class="fa fa-phone"></i></a></li>
                                                           <li><a class="message" href="#"><img src="~/Template2/assets/img/icons/8.png" alt="img"></a></li>
                                                           <li><a class="btn btn-yellow" href="property-details.html">İlanı Görüntüle</a></li>
                                                       </ul>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-lg-3 col-sm-6">
                                               <div class="single-feature">
                                                   <div class="thumb">
                                                       <img src="~/Template2/assets/img/feature/3.png" alt="img">
                                                       
                                                   </div>
                                                   <div class="details">
                                                       
                                                       <p class="author"><i class="fa fa-user"></i> Tunca Emlak</p>
                                                       <h6 class="title"><a href="property-details.html">Havuzlu Villa</a></h6>
                                                       <h6 class="price">350₺</h6><del>790₺</del>
                                                       <ul class="info-list">
                                                           <li><i class="fa fa-bed"></i> 05 Yatak Odası</li>
                                                           <li><i class="fa fa-bath"></i> 02 Banyo</li>
                                                           <li><img src="~/Template2/assets/img/icons/7.png" alt="img"> 1898 m²</li>
                                                       </ul>
                                                       <ul class="contact-list">
                                                           <li><a class="phone" href="#"><i class="fa fa-phone"></i></a></li>
                                                           <li><a class="message" href="#"><img src="~/Template2/assets/img/icons/8.png" alt="img"></a></li>
                                                           <li><a class="btn btn-yellow" href="property-details.html">İlanı Görüntüle</a></li>
                                                       </ul>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
               </div>
           </div>
       </div>
                  <!-- END SECTION FEATURED PROPERTIES -->

  
        <!-- START SECTION TESTIMONIALS -->
        <section class="testimonials home18 bg-white-1">
            <div class="container">
                <div class="sec-title">
                    <h2><span>Clients </span>Testimonials</h2>
                    <p>We collect reviews from our customers.</p>
                </div>
                <div class="owl-carousel style1">
                    <div class="test-1 pb-0 pt-0" data-aos="zoom-in">
                        <img src="~/Template1/images/testimonials/ts-1.jpg" alt="">
                        <h3 class="mt-3 mb-0">Lisa Smith</h3>
                        <h6 class="mt-1">New York</h6>
                        <ul class="starts text-center mb-2">
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec.</p>
                    </div>
                    <div class="test-1 pb-0 pt-0">
                        <img src="~/Template1/images/testimonials/ts-2.jpg" alt="">
                        <h3 class="mt-3 mb-0">Jhon Morris</h3>
                        <h6 class="mt-1">Los Angeles</h6>
                        <ul class="starts text-center mb-2">
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star-o"></i>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec.</p>
                    </div>
                    <div class="test-1 pt-0">
                        <img src="~/Template1/images/testimonials/ts-3.jpg" alt="">
                        <h3 class="mt-3 mb-0">Mary Deshaw</h3>
                        <h6 class="mt-1">Chicago</h6>
                        <ul class="starts text-center mb-2">
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec.</p>
                    </div>
                    <div class="test-1 pt-0">
                        <img src="~/Template1/images/testimonials/ts-4.jpg" alt="">
                        <h3 class="mt-3 mb-0">Gary Steven</h3>
                        <h6 class="mt-1">Philadelphia</h6>
                        <ul class="starts text-center mb-2">
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star-o"></i>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec.</p>
                    </div>
                    <div class="test-1 pt-0">
                        <img src="~/Template1/images/testimonials/ts-5.jpg" alt="">
                        <h3 class="mt-3 mb-0">Cristy Mayer</h3>
                        <h6 class="mt-1">San Francisco</h6>
                        <ul class="starts text-center mb-2">
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec.</p>
                    </div>
                    <div class="test-1 pt-0">
                        <img src="~/Template1/images/testimonials/ts-6.jpg" alt="">
                        <h3 class="mt-3 mb-0">Ichiro Tasaka</h3>
                        <h6 class="mt-1">Houston</h6>
                        <ul class="starts text-center mb-2">
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star-o"></i>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec.</p>
                    </div>
                    <div class="test-1 pt-0">
                        <img src="~/Template1/images/testimonials/ts-6.jpg" alt="">
                        <h3 class="mt-3 mb-0">Ichiro Tasaka</h3>
                        <h6 class="mt-1">Houston</h6>
                        <ul class="starts text-center mb-2">
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star-o"></i>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SECTION TESTIMONIALS -->

     
        <!-- STAR SECTION PARTNERS -->
        <div class="partners bg-white-1 home18">
            <div class="container">
                <div class="sec-title">
                    <h2><span>İş </span>Ortaklarımız</h2>
                    <p>The Companies That Represent Us.</p>
                </div>
                <div class="owl-carousel style2">
                    <div class="owl-item" data-aos="fade-up"><img src="~/Template1/images/partners/11.jpg" alt=""></div>
                    <div class="owl-item" data-aos="fade-up"><img src="~/Template1/images/partners/12.jpg" alt=""></div>
                    <div class="owl-item" data-aos="fade-up"><img src="~/Template1/images/partners/13.jpg" alt=""></div>
                    <div class="owl-item" data-aos="fade-up"><img src="~/Template1/images/partners/14.jpg" alt=""></div>
                    <div class="owl-item" data-aos="fade-up"><img src="~/Template1/images/partners/15.jpg" alt=""></div>
                    <div class="owl-item" data-aos="fade-up"><img src="~/Template1/images/partners/16.jpg" alt=""></div>
                    <div class="owl-item" data-aos="fade-up"><img src="~/Template1/images/partners/17.jpg" alt=""></div>
                    <div class="owl-item" data-aos="fade-up"><img src="~/Template1/images/partners/11.jpg" alt=""></div>
                    <div class="owl-item" data-aos="fade-up"><img src="~/Template1/images/partners/12.jpg" alt=""></div>
                    <div class="owl-item" data-aos="fade-up"><img src="~/Template1/images/partners/13.jpg" alt=""></div>
                </div>
            </div>
        </div>
        <!-- END SECTION PARTNERS -->

        <!-- START FOOTER -->
   <footer class="first-footer">
                  <div class="top-footer">
                      <div class="container">
                          <div class="row">
                              <div class="col-lg-9 col-md-6">
                                  <div class="netabout">
                                      <a href="index.html" class="logo">
                                          <img src="/Template1/images/logo-footer.svg" alt="netcom">
                                      </a>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                          Accusamus adipisci aliquam cumque dolore eum expedita facere in
                                          ventore, labore libero molestias natus necessitatibus quam quas sint ull
                                          am veritatis voluptates. Cupiditate ipsa quam similique. Aliquam aliqui
                                          d architecto dolore est exercitationem laborum laudantium nihil pariatur perferendis, quo sed, voluptas? Esse illo necessitatibus praese
                                          ntium quas saepe tenetur vero, voluptates.</p>
                                  </div>
                                  @* <div class="contactus"> *@
                                  @*     <ul> *@
                                  @*         <li> *@
                                  @*             <div class="info"> *@
                                  @*                 <i class="fa fa-map-marker" aria-hidden="true"></i> *@
                                  @*                 <p class="in-p">95 South Park Avenue, USA</p> *@
                                  @*             </div> *@
                                  @*         </li> *@
                                  @*         <li> *@
                                  @*             <div class="info"> *@
                                  @*                 <i class="fa fa-phone" aria-hidden="true"></i> *@
                                  @*                 <p class="in-p">+456 875 369 208</p> *@
                                  @*             </div> *@
                                  @*         </li> *@
                                  @*         <li> *@
                                  @*             <div class="info"> *@
                                  @*                 <i class="fa fa-envelope" aria-hidden="true"></i> *@
                                  @*                 <p class="in-p ti">supportfindhouses.com</p> *@
                                  @*             </div> *@
                                  @*         </li> *@
                                  @*     </ul> *@
                                  @* </div> *@
                              </div>
                              
                              
                              
                          <div class="col-lg-3 col-md-6 d-flex justify-content-center align-items-center">
                                  <div class="netabout">
                                      
                                      @* <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum incidunt architecto soluta laboriosam, perspiciatis, aspernatur officiis esse.</p> *@
                                  </div>
                                  <div class="contactus">
                                      <ul>
                                          <li>
                                              <div class="info">
                                                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                  <p class="in-p">95 South Park Avenue, USA</p>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="info">
                                                  <i class="fa fa-phone" aria-hidden="true"></i>
                                                  <p class="in-p">+456 875 369 208</p>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="info">
                                                  <i class="fa fa-envelope" aria-hidden="true"></i>
                                                  <p class="in-p ti">supportfindhouses.com</p>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </div></div>
                      </div>
                  </div>
                  <div class="second-footer">
                      <div class="container">
                          <p>2021 © Copyright - All Rights Reserved.</p>
                          <ul class="netsocials">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                              <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </footer>
        <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        <!-- END FOOTER -->

        <!--register form -->
        <div class="login-and-register-form modal">
            <div class="main-overlay"></div>
            <div class="main-register-holder">
                <div class="main-register fl-wrap">
                    <div class="close-reg"><i class="fa fa-times"></i></div>
                    <h3>Welcome to <span>Find<strong>Houses</strong></span></h3>
                    <div class="soc-log fl-wrap">
                        <p>Login</p>
                        <a href="#" class="facebook-log"><i class="fa fa-facebook-official"></i>Log in with Facebook</a>
                        <a href="#" class="twitter-log"><i class="fa fa-twitter"></i> Log in with Twitter</a>
                    </div>
                    <div class="log-separator fl-wrap"><span>Or</span></div>
                    <div id="tabs-container">
                        <ul class="tabs-menu">
                            <li class="current"><a href="#tab-1">Login</a></li>
                            <li><a href="#tab-2">Register</a></li>
                        </ul>
                        <div class="tab">
                            <div id="tab-1" class="tab-contents">
                                <div class="custom-form">
                                    <form method="post" name="registerform">
                                        <label>Username or Email Address * </label>
                                        <input name="email" type="text" onClick="this.select()" value="">
                                        <label>Password * </label>
                                        <input name="password" type="password" onClick="this.select()" value="">
                                        <button type="submit" class="log-submit-btn"><span>Log In</span></button>
                                        <div class="clearfix"></div>
                                        <div class="filter-tags">
                                            <input id="check-a" type="checkbox" name="check">
                                            <label for="check-a">Remember me</label>
                                        </div>
                                    </form>
                                    <div class="lost_password">
                                        <a href="#">Lost Your Password?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab">
                                <div id="tab-2" class="tab-contents">
                                    <div class="custom-form">
                                        <form method="post" name="registerform" class="main-register-form" id="main-register-form2">
                                            <label>First Name * </label>
                                            <input name="name" type="text" onClick="this.select()" value="">
                                            <label>Second Name *</label>
                                            <input name="name2" type="text" onClick="this.select()" value="">
                                            <label>Email Address *</label>
                                            <input name="email" type="text" onClick="this.select()" value="">
                                            <label>Password *</label>
                                            <input name="password" type="password" onClick="this.select()" value="">
                                            <button type="submit" class="log-submit-btn"><span>Register</span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--register form end -->

        <!-- START PRELOADER -->
        <div id="preloader">
            <div id="status">
                <div class="status-mes"></div>
            </div>
        </div>
        <!-- END PRELOADER -->

        <!-- ARCHIVES JS -->
        <script src="~/Template1/js/jquery-3.5.1.min.js"></script>
                <script src="~/Template1/js/jquery-ui.js"></script>
                <script src="~/Template1/js/tether.min.js"></script>
                <script src="~/Template1/js/popper.min.js"></script>
                <script src="~/Template1/sment₺.js"></script>
                <script src="~/Template1/js/bootstrap.min.js"></script>
                <script src="~/Template1/js/mmenu.min.js"></script>
                <script src="~/Template1/js/mmenu.js"></script>
                <script src="~/Template1/js/aos.js"></script>
                <script src="~/Template1/js/aos2.js"></script>
                <script src="~/Template1/js/slick.min.js"></script>
                <script src="~/Template1/js/fitvids.js"></script>
                <script src="~/Template1/js/jquery.waypoints.min.js"></script>
                <script src="~/Template1/js/jquery.counterup.min.js"></script>
                <script src="~/Template1/js/imagesloaded.pkgd.min.js"></script>
                <script src="~/Template1/js/isotope.pkgd.min.js"></script>
                <script src="~/Template1/js/smooth-scroll.min.js"></script>
                <script src="~/Template1/js/lightcase.js"></script>
                <script src="~/Template1/js/owl.carousel.js"></script>
                <script src="~/Template1/js/jquery.magnific-popup.min.js"></script>
                <script src="~/Template1/js/ajaxchimp.min.js"></script>
                <script src="~/Template1/js/newsletter.js"></script>
                <script src="~/Template1/js/jquery.form.js"></script>
                <script src="~/Template1/js/jquery.validate.min.js"></script>
                <script src="~/Template1/js/forms-2.js"></script>
                <script src="~/Template1/js/color-switcher.js"></script>
        
                <!-- Slider Revolution scripts -->
                <script src="~/Template1/revolution/js/jquery.themepunch.tools.min.js"></script>
                <script src="~/Template1/revolution/js/jquery.themepunch.revolution.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.actions.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.migration.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.video.min.js"></script>
        
        <script>

        </script>

        <!-- Slider Revolution scripts -->
        <script src="~/Template1/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="~/Template1/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="~/Template1/js/script.js"></script>
        <script>
            $('.style1').owlCarousel({
                loop: true,
                margin: 10,
                autoplay: false,
                autoplayTimeout: 5000,
                responsive: {
                    0: {
                        items: 1
                    },
                    400: {
                        items: 1,
                        margin: 20
                    },
                    500: {
                        items: 1,
                        margin: 20
                    },
                    768: {
                        items: 1,
                        margin: 20
                    },
                    991: {
                        items: 1,
                        margin: 20
                    },
                    1000: {
                        items: 1,
                        margin: 20
                    }
                }
            });

        </script>
        <script>
            var tpj = jQuery;

            var revapi474;
            tpj(document).ready(function() {
                if (tpj("#rev_slider_328_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_328_1");
                } else {
                    revapi328 = tpj("#rev_slider_328_1").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: "revolution.themepunch.com/wp-content/plugins/revslider/public/assets/js/",
                        sliderLayout: "fullscreen",
                        dottedOverlay: "none",
                        delay: 10000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            mouseScrollReverse: "default",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                touchOnDesktop: "off",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                            arrows: {
                                style: "uranus",
                                enable: true,
                                hide_onmobile: false,
                                hide_onleave: false,
                                tmp: '',
                                left: {
                                    h_align: "right",
                                    v_align: "bottom",
                                    h_offset: 125,
                                    v_offset: 17
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "bottom",
                                    h_offset: 65,
                                    v_offset: 19
                                }
                            },
                            bullets: {
                                enable: true,
                                hide_onmobile: false,
                                style: "hermes",
                                hide_onleave: false,
                                direction: "horizontal",
                                h_align: "left",
                                v_align: "bottom",
                                h_offset: 7,
                                v_offset: 50,
                                space: 5,
                                tmp: ''
                            }
                        },
                        responsiveLevels: [1240, 1024, 778, 480],
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: [1240, 1024, 778, 480],
                        gridheight: [700, 700, 700, 700],
                        lazyType: "none",
                        parallax: {
                            type: "scroll",
                            origo: "slidercenter",
                            speed: 400,
                            speedbg: 0,
                            speedls: 0,
                            levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                        },
                        shadow: 0,
                        spinner: "spinner5",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        fullScreenOffset: "60",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                }; /* END OF revapi call */
            }); /*ready*/

        </script>
        
        <script>
            $('.slick-lancers').slick({
                infinite: false,
                slidesToShow: 3,
                slidesToScroll: 1,
                dots: true,
                arrows: true,
                adaptiveHeight: true,
                responsive: [{
                    breakpoint: 1292,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        dots: true,
                        arrows: false
                    }
                }, {
                    breakpoint: 993,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        dots: true,
                        arrows: false
                    }
                }, {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: true,
                        arrows: false
                    }
                }]
            });

        </script>

        <!-- MAIN JS -->
        <script src="~/Template1/js/script.js"></script>

    <!-- all plugins here -->
    <script src="~/Template2/assets/js/vendor2.js"></script>
    <!-- main js  -->
    <script src="~/Template2/assets/js/main2.js"></script>
    </div>
    <!-- Wrapper / End -->
</body>


<!-- Mirrored from code-theme.com/html/findhouses/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 Aug 2022 19:00:19 GMT -->
</html>
