@{
    ViewBag.BreadCrumb2 = "Danışmanlarımız";
    ViewBag.PageHeader = "Danışmanlarımız";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- favicon -->
    <link rel=icon href=assets/img/favicon.png sizes="20x20" type="image/png">
    <!-- Vendor Stylesheet -->
    <link rel="stylesheet" href="~/Template2/assets/css/vendor2.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/Template2/assets/css/style2.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="~/Template2/assets/css/responsive.css">

    <link rel="stylesheet" href="~/Template1/font/flaticon.css">
    <link rel="stylesheet" href="~/Template1/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Template1/css/fontawesome-5-all.min.css">
    <link rel="stylesheet" href="~/Template1/css/font-awesome.min.css">
    <!-- Slider Revolution CSS Files -->
    <link rel="stylesheet" href="~/Template1/revolution/css/settings.css">
    <link rel="stylesheet" href="~/Template1/revolution/css/layers.css">
    <link rel="stylesheet" href="~/Template1/revolution/css/navigation.css">
    <!-- ARCHIVES CSS -->
    <link rel="stylesheet" href="~/Template1/css/animate.css">
    <link rel="stylesheet" href="~/Template1/css/aos.css">
    <link rel="stylesheet" href="~/Template1/css/aos2.css">
    <link rel="stylesheet" href="~/Template1/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Template1/css/lightcase.css">
    <link rel="stylesheet" href="~/Template1/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Template1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Template1/css/menu.css">
    <link rel="stylesheet" href="~/Template1/css/slick.css">
    <link rel="stylesheet" href="~/Template1/css/styles.css">
    <link rel="stylesheet" href="~/Template1/css/maps.css">
    <link rel="stylesheet" id="color" href="~/Template1/css/default.css">
        <!-- plugins css -->
        <link rel="stylesheet" href="~/Template4/css/plugins.css">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="~/Template4/css/style.css">
        <!-- Responsive css -->
    <link rel="stylesheet" href="~/Template4/css/responsive.css">
            <link rel="stylesheet" href="~/Template4/css/style4new.css">

    <style>
        
    </style>
    </head>

<body>
   <div id="TeamPage">


    <!-- contact area start -->
    <div class="contact-area pd-top-100 pd-bottom-65">
        <div class="container-contact">
            <div class="row">
                <div class="col-lg-12">
                  <div class="ltn__team-area pt-110--- pb-90">
                          <div class="container">
                              <div class="row justify-content-center">

                                    <div class="col-lg-4 col-sm-6">
                                        <div class="ltn__team-item ltn__team-item-3---">
                                            <div class="team-img">
                                                <img src="~/imgs/10.jpeg" alt="Image">
                                            </div>
                                            <div class="team-info">
                                                <h4><a href="team-details.html">Sevtap Kama</a></h4>
                                                <h6 class="ltn__secondary-color">Gayrimenkul Danışmanı</h6>
                                                <div class="ltn__social-media">
                                                    <ul>
                                                        <li>
                                                            <a href="https://tuncagayrimenkul.sahibinden.com/emlak?sorting=storeShowcase&userId=ag29H6a2VRwY34ZvopFHcBw" target="_blank">
                                                                <i class="fab svgClass">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" style="width:2.5rem; color: rgb(255, 225, 31);" width="16" height="16" viewBox="0 0 32 32">
                                                                        <path xmlns="http://www.w3.org/2000/svg" d="M0 0v32h32v-32zM15.354 6.297c0.75-0.010 1.51-0.005 2.255 0.083 3.214 0.073 6.469 2.906 6.505 6.010h-4.427c0.016-0.922-0.802-2.073-1.703-2.307-1.474-0.359-3.281-0.474-4.573 0.391-0.984 0.594-1.422 2.229-0.125 2.74 3.047 1.448 6.875 1.13 9.63 3.167 2.266 1.609 2.13 4.885 0.365 6.781-2.292 2.453-6.182 2.844-9.464 2.375-3.266-0.156-6.344-2.995-6.427-6.083h4.417c-0.078 1.109 0.849 2.078 1.943 2.427 1.698 0.37 3.635 0.479 5.24-0.25 1.281-0.432 1.37-2.057 0.38-2.807-2.125-1.193-4.75-1.229-7.063-2.021-2.682-0.521-4.854-3.036-4.344-5.599 0.563-3.12 4.167-4.969 7.391-4.906z" />
                                                                    </svg>
                                                                </i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-6">
                                      <div class="ltn__team-item ltn__team-item-3---">
                                          <div class="team-img">
                                              <img src="~/imgs/5.jpeg" alt="Image">
                                          </div>
                                          <div class="team-info">
                                              <h4><a href="team-details.html">Sevtap Kama</a></h4>
                                              <h6 class="ltn__secondary-color">Gayrimenkul Danışmanı</h6>
                                              <div class="ltn__social-media">
                                                  <ul>
                                                      <li><a href="https://tuncagayrimenkul.sahibinden.com/emlak?sorting=storeShowcase&userId=ag29H6a2VRwY34ZvopFHcBw" target="_blank"><i class="fab svgClass"><svg xmlns="http://www.w3.org/2000/svg" style="width:2.5rem; color: rgb(255, 225, 31);" width="16" height="16" viewBox="0 0 32 32"> 
                                 <path xmlns="http://www.w3.org/2000/svg" d="M0 0v32h32v-32zM15.354 6.297c0.75-0.010 1.51-0.005 2.255 0.083 3.214 0.073 6.469 2.906 6.505 6.010h-4.427c0.016-0.922-0.802-2.073-1.703-2.307-1.474-0.359-3.281-0.474-4.573 0.391-0.984 0.594-1.422 2.229-0.125 2.74 3.047 1.448 6.875 1.13 9.63 3.167 2.266 1.609 2.13 4.885 0.365 6.781-2.292 2.453-6.182 2.844-9.464 2.375-3.266-0.156-6.344-2.995-6.427-6.083h4.417c-0.078 1.109 0.849 2.078 1.943 2.427 1.698 0.37 3.635 0.479 5.24-0.25 1.281-0.432 1.37-2.057 0.38-2.807-2.125-1.193-4.75-1.229-7.063-2.021-2.682-0.521-4.854-3.036-4.344-5.599 0.563-3.12 4.167-4.969 7.391-4.906z"/> </svg></i></a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-sm-6">
                                      <div class="ltn__team-item ltn__team-item-3---">
                                          <div class="team-img">
                                              <img src="~/imgs/2.jpeg" alt="Image">
                                          </div>
                                          <div class="team-info">
                                              <h4><a href="team-details.html">Esra Şahinoğlu</a></h4>
                                              <h6 class="ltn__secondary-color">Gayrimenkul Danışmanı</h6>
                                              <div class="ltn__social-media">
                                                  <ul>
                                                      <li><a href="https://tuncagayrimenkul.sahibinden.com/emlak?sorting=storeShowcase&userId=aMCBeCwGbB_agLwqe4diCvw" target="_blank"><i class="fab svgClass"><svg xmlns="http://www.w3.org/2000/svg" style="width:2.5rem; color: rgb(255, 225, 31);" width="16" height="16" viewBox="0 0 32 32"> 
                                 <path xmlns="http://www.w3.org/2000/svg" d="M0 0v32h32v-32zM15.354 6.297c0.75-0.010 1.51-0.005 2.255 0.083 3.214 0.073 6.469 2.906 6.505 6.010h-4.427c0.016-0.922-0.802-2.073-1.703-2.307-1.474-0.359-3.281-0.474-4.573 0.391-0.984 0.594-1.422 2.229-0.125 2.74 3.047 1.448 6.875 1.13 9.63 3.167 2.266 1.609 2.13 4.885 0.365 6.781-2.292 2.453-6.182 2.844-9.464 2.375-3.266-0.156-6.344-2.995-6.427-6.083h4.417c-0.078 1.109 0.849 2.078 1.943 2.427 1.698 0.37 3.635 0.479 5.24-0.25 1.281-0.432 1.37-2.057 0.38-2.807-2.125-1.193-4.75-1.229-7.063-2.021-2.682-0.521-4.854-3.036-4.344-5.599 0.563-3.12 4.167-4.969 7.391-4.906z"/> </svg></i></a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-sm-6">
                                      <div class="ltn__team-item ltn__team-item-3---">
                                          <div class="team-img">
                                              <img src="~/imgs/3.jpeg" alt="Image">
                                          </div>
                                          <div class="team-info">
                                              <h4><a href="team-details.html">Yunus Ceylan</a></h4>
                                              <h6 class="ltn__secondary-color">Gayrimenkul Danışmanı</h6>
                                              <div class="ltn__social-media">
                                                  <ul>
                                                      <li><a href="https://tuncagayrimenkul.sahibinden.com/emlak?sorting=storeShowcase&userId=ay1EmDHBt3NFCAjPkomNYfw" target="_blank"><i class="fab svgClass"><svg xmlns="http://www.w3.org/2000/svg" style="width:2.5rem; color: rgb(255, 225, 31);" width="16" height="16" viewBox="0 0 32 32"> 
                                 <path xmlns="http://www.w3.org/2000/svg" d="M0 0v32h32v-32zM15.354 6.297c0.75-0.010 1.51-0.005 2.255 0.083 3.214 0.073 6.469 2.906 6.505 6.010h-4.427c0.016-0.922-0.802-2.073-1.703-2.307-1.474-0.359-3.281-0.474-4.573 0.391-0.984 0.594-1.422 2.229-0.125 2.74 3.047 1.448 6.875 1.13 9.63 3.167 2.266 1.609 2.13 4.885 0.365 6.781-2.292 2.453-6.182 2.844-9.464 2.375-3.266-0.156-6.344-2.995-6.427-6.083h4.417c-0.078 1.109 0.849 2.078 1.943 2.427 1.698 0.37 3.635 0.479 5.24-0.25 1.281-0.432 1.37-2.057 0.38-2.807-2.125-1.193-4.75-1.229-7.063-2.021-2.682-0.521-4.854-3.036-4.344-5.599 0.563-3.12 4.167-4.969 7.391-4.906z"/> </svg></i></a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-sm-6">
                                      <div class="ltn__team-item ltn__team-item-3---">
                                          <div class="team-img">
                                              <img src="~/imgs/4.jpeg" alt="Image">
                                          </div>
                                          <div class="team-info">
                                              <h4><a href="team-details.html">Ferhat Işık</a></h4>
                                              <h6 class="ltn__secondary-color">Gayrimenkul Danışmanı</h6>
                                              <div class="ltn__social-media">
                                                  <ul>
                                                      <li><a href="https://tuncagayrimenkul.sahibinden.com/emlak?sorting=storeShowcase&userId=a4KfbDgjwmYvMzXzttZgzgQ" target="_blank"><i class="fab svgClass"><svg xmlns="http://www.w3.org/2000/svg" style="width:2.5rem; color: rgb(255, 225, 31);" width="16" height="16" viewBox="0 0 32 32"> 
                                 <path xmlns="http://www.w3.org/2000/svg" d="M0 0v32h32v-32zM15.354 6.297c0.75-0.010 1.51-0.005 2.255 0.083 3.214 0.073 6.469 2.906 6.505 6.010h-4.427c0.016-0.922-0.802-2.073-1.703-2.307-1.474-0.359-3.281-0.474-4.573 0.391-0.984 0.594-1.422 2.229-0.125 2.74 3.047 1.448 6.875 1.13 9.63 3.167 2.266 1.609 2.13 4.885 0.365 6.781-2.292 2.453-6.182 2.844-9.464 2.375-3.266-0.156-6.344-2.995-6.427-6.083h4.417c-0.078 1.109 0.849 2.078 1.943 2.427 1.698 0.37 3.635 0.479 5.24-0.25 1.281-0.432 1.37-2.057 0.38-2.807-2.125-1.193-4.75-1.229-7.063-2.021-2.682-0.521-4.854-3.036-4.344-5.599 0.563-3.12 4.167-4.969 7.391-4.906z"/> </svg></i></a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-sm-6">
                                      <div class="ltn__team-item ltn__team-item-3---">
                                          <div class="team-img">
                                              <img src="~/imgs/6.jpeg" alt="Image">
                                          </div>
                                          <div class="team-info">
                                              <h4><a href="team-details.html">Umut Gürses</a></h4>
                                              <h6 class="ltn__secondary-color">Gayrimenkul Danışmanı</h6>
                                              <div class="ltn__social-media">
                                                  <ul>
                                                      <li><a href="https://tuncagayrimenkul.sahibinden.com/emlak?sorting=storeShowcase&userId=ae3bFYREJ_aJ5Q9k2FzIOVg" target="_blank"><i class="fab svgClass"><svg xmlns="http://www.w3.org/2000/svg" style="width:2.5rem; color: rgb(255, 225, 31);" width="16" height="16" viewBox="0 0 32 32"> 
                                 <path xmlns="http://www.w3.org/2000/svg" d="M0 0v32h32v-32zM15.354 6.297c0.75-0.010 1.51-0.005 2.255 0.083 3.214 0.073 6.469 2.906 6.505 6.010h-4.427c0.016-0.922-0.802-2.073-1.703-2.307-1.474-0.359-3.281-0.474-4.573 0.391-0.984 0.594-1.422 2.229-0.125 2.74 3.047 1.448 6.875 1.13 9.63 3.167 2.266 1.609 2.13 4.885 0.365 6.781-2.292 2.453-6.182 2.844-9.464 2.375-3.266-0.156-6.344-2.995-6.427-6.083h4.417c-0.078 1.109 0.849 2.078 1.943 2.427 1.698 0.37 3.635 0.479 5.24-0.25 1.281-0.432 1.37-2.057 0.38-2.807-2.125-1.193-4.75-1.229-7.063-2.021-2.682-0.521-4.854-3.036-4.344-5.599 0.563-3.12 4.167-4.969 7.391-4.906z"/> </svg></i></a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-sm-6">
                                      <div class="ltn__team-item ltn__team-item-3---">
                                          <div class="team-img">
                                              <img src="~/imgs/1.jpeg" alt="Image">
                                          </div>
                                          <div class="team-info">
                                              <h4><a href="team-details.html">Meryem Nihal Türkoğlu</a></h4>
                                              <h6 class="ltn__secondary-color">Gayrimenkul Danışmanı</h6>
                                              <div class="ltn__social-media">
                                                  <ul>
                                                      <li><a href="https://tuncagayrimenkul.sahibinden.com/emlak?sorting=storeShowcase&userId=aXFAP8reY6K6CT2O-AZNT0Q" target="_blank"><i class="fab svgClass"><svg xmlns="http://www.w3.org/2000/svg" style="width:2.5rem; color: rgb(255, 225, 31);" width="16" height="16" viewBox="0 0 32 32"> 
                                 <path xmlns="http://www.w3.org/2000/svg" d="M0 0v32h32v-32zM15.354 6.297c0.75-0.010 1.51-0.005 2.255 0.083 3.214 0.073 6.469 2.906 6.505 6.010h-4.427c0.016-0.922-0.802-2.073-1.703-2.307-1.474-0.359-3.281-0.474-4.573 0.391-0.984 0.594-1.422 2.229-0.125 2.74 3.047 1.448 6.875 1.13 9.63 3.167 2.266 1.609 2.13 4.885 0.365 6.781-2.292 2.453-6.182 2.844-9.464 2.375-3.266-0.156-6.344-2.995-6.427-6.083h4.417c-0.078 1.109 0.849 2.078 1.943 2.427 1.698 0.37 3.635 0.479 5.24-0.25 1.281-0.432 1.37-2.057 0.38-2.807-2.125-1.193-4.75-1.229-7.063-2.021-2.682-0.521-4.854-3.036-4.344-5.599 0.563-3.12 4.167-4.969 7.391-4.906z"/> </svg></i></a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                   
                                   <div class="col-lg-4 col-sm-6">
                                      <div class="ltn__team-item ltn__team-item-3---">
                                          <div class="team-img">
                                              <img src="~/imgs/8.jpeg" alt="Image">
                                          </div>
                                          <div class="team-info">
                                              <h4><a href="team-details.html">Onur Gündoğdu</a></h4>
                                              <h6 class="ltn__secondary-color">Editör</h6>
                                              <div class="ltn__social-media">
                                                  <ul>
                                                  
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                   <div class="col-lg-4 col-sm-6">
                                      <div class="ltn__team-item ltn__team-item-3---">
                                          <div class="team-img">
                                              <img src="~/imgs/9.jpeg" alt="Image">
                                          </div>
                                          <div class="team-info">
                                              <h4><a href="team-details.html">Sefa Ulu</a></h4>
                                              <h6 class="ltn__secondary-color">Gayrimenkul Danışmanı</h6>
                                              <div class="ltn__social-media">
                                                  <ul>
                                                      <li><a href="https://tuncagayrimenkul.sahibinden.com/emlak?sorting=storeShowcase&userId=ao2ysLJbRHRJSnlwgQtWMWw" target="_blank"><i class="fab svgClass"><svg xmlns="http://www.w3.org/2000/svg" style="width:2.5rem; color: rgb(255, 225, 31);" width="16" height="16" viewBox="0 0 32 32"> 
                                 <path xmlns="http://www.w3.org/2000/svg" d="M0 0v32h32v-32zM15.354 6.297c0.75-0.010 1.51-0.005 2.255 0.083 3.214 0.073 6.469 2.906 6.505 6.010h-4.427c0.016-0.922-0.802-2.073-1.703-2.307-1.474-0.359-3.281-0.474-4.573 0.391-0.984 0.594-1.422 2.229-0.125 2.74 3.047 1.448 6.875 1.13 9.63 3.167 2.266 1.609 2.13 4.885 0.365 6.781-2.292 2.453-6.182 2.844-9.464 2.375-3.266-0.156-6.344-2.995-6.427-6.083h4.417c-0.078 1.109 0.849 2.078 1.943 2.427 1.698 0.37 3.635 0.479 5.24-0.25 1.281-0.432 1.37-2.057 0.38-2.807-2.125-1.193-4.75-1.229-7.063-2.021-2.682-0.521-4.854-3.036-4.344-5.599 0.563-3.12 4.167-4.969 7.391-4.906z"/> </svg></i></a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
            </div>
     
        </div>
    </div>
    <!-- contact area End -->
</div>

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->
                <script src="~/Template1/js/mmenu.js"></script>

        <!-- ARCHIVES JS -->
        <script src="~/Template1/js/jquery-3.5.1.min.js"></script>
                <script src="~/Template1/js/jquery-ui.js"></script>
                <script src="~/Template1/js/tether.min.js"></script>
                <script src="~/Template1/js/popper.min.js"></script>
                <script src="~/Template1/js/moment.js"></script>
                <script src="~/Template1/js/bootstrap.min.js"></script>
                <script src="~/Template1/js/mmenu.min.js"></script>
                <script src="~/Template1/js/mmenu.js"></script>
                <script src="~/Template1/js/aos.js"></script>
                <script src="~/Template1/js/aos2.js"></script>
                <script src="~/Template1/js/slick.min.js"></script>
                <script src="~/Template1/js/fitvids.js"></script>
                <script src="~/Template1/js/jquery.waypoints.min.js"></script>
                <script src="~/Template1/js/jquery.counterup.min.js"></script>
                <script src="~/Template1/js/imagesloaded.pkgd.min.js"></script>
                <script src="~/Template1/js/isotope.pkgd.min.js"></script>
                <script src="~/Template1/js/smooth-scroll.min.js"></script>
                <script src="~/Template1/js/lightcase.js"></script>
                <script src="~/Template1/js/owl.carousel.js"></script>
                <script src="~/Template1/js/jquery.magnific-popup.min.js"></script>
                <script src="~/Template1/js/ajaxchimp.min.js"></script>
                <script src="~/Template1/js/newsletter.js"></script>
                <script src="~/Template1/js/jquery.form.js"></script>
                <script src="~/Template1/js/jquery.validate.min.js"></script>
                <script src="~/Template1/js/forms-2.js"></script>
                <script src="~/Template1/js/color-switcher.js"></script>
        
                <!-- Slider Revolution scripts -->
                <script src="~/Template1/revolution/js/jquery.themepunch.tools.min.js"></script>
                <script src="~/Template1/revolution/js/jquery.themepunch.revolution.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.actions.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.migration.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
                <script src="~/Template1/revolution/js/extensions/revolution.extension.video.min.js"></script>
        


    
</body>
</html>