<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .clear {
          all:revert;
        }
    </style>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tunca Emlak</title>
    @* LINKS *@
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i%7CMontserrat:600,800" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="~/Template1/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Template1/css/fontawesome-5-all.min.css">
    <link rel="stylesheet" href="~/Template1/css/font-awesome.min.css">
    <!-- ARCHIVES CSS -->
    <link rel="stylesheet" href="~/Template1/css/animate.css">
    <link rel="stylesheet" href="~/Template1/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Template1/css/lightcase.css">
    <link rel="stylesheet" href="~/Template1/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Template1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Template1/css/menu.css">
    <link rel="stylesheet" href="~/Template1/css/slick.css">
    <link rel="stylesheet" href="~/Template1/css/styles.css">
    
    <link rel="stylesheet" id="color" href="~/Template1/css/default.css">
</head>
<body>
@* HEADER *@
        <!-- Header Container
        ================================================== -->
       <header id="header-container" class="header head-tr" style="line-height: unset;font-weight: 700;position: unset;">
            <!-- Header -->
            <div id="header" class="head-tr bottom ">
                <div class="container container-header">
                    <!-- Left Side Content -->
                    <div class="left-side d-flex justify-content-center" style="width:100%">
                        <!-- Logo -->
                        <div id="logo" style="padding-right:100px;position:absolute;left:100px">
                            <a href="/"><img src="/Template1/images/tunca-logo.png" data-sticky-logo="/Template1/images/tunca-logo.png" alt=""></a>
                        </div>
                        <!-- Mobile Navigation -->
                        <div class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
							<span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                        <!-- Main Navigation -->
                        <nav id="navigation" class="style-1 head-tr">
                            <ul id="responsive">
                                <li><a href="~/" style="color: black !important; font-weight: 700 !important;font-family: 'Nunito Sans', sans-serif !important;" class="clear navbar-item-linkk">Anasayfa</a>
                                </li><li><a href="~/Home/list" style="color: black !important; font-weight: 700 !important;font-family: 'Nunito Sans', sans-serif !important;" class="clear navbar-item-linkk">İlanlar</a></li>
                                <li><a href="~/contactus" style="color: black !important; font-weight: 700 !important;font-family: 'Nunito Sans', sans-serif !important;" class="clear navbar-item-linkk">Hakkımızda</a></li>
                                <li><a href="~/gallery" style="color: black !important; font-weight: 700 !important;font-family: 'Nunito Sans', sans-serif !important;" class="clear navbar-item-linkk">Galeri</a></li>
                                <li><a href="~/takim" style="color: black !important; font-weight: 700 !important;font-family: 'Nunito Sans', sans-serif !important;" class="clear navbar-item-linkk">Danışmanlarımız</a></li>
                                <li><a href="~/contactusnew" style="color: black !important; font-weight: 700 !important;font-family: 'Nunito Sans', sans-serif !important;" class="clear navbar-item-linkk">Bize Ulaşın</a></li>

                                    </ul>
                        </nav>
                        <!-- Main Navigation / End -->
                    </div>
                    <!-- Left Side Content / End -->
                    <div class="right-side d-none d-none d-lg-none d-xl-flex sign ml-0">
                        <!-- Header Widget -->
                        
                        <!-- Header Widget / End -->
                    </div>
                    <!-- Right Side Content / End -->
                    <div class="right-side d-none d-none d-lg-none d-xl-flex sign ml-0" style="margin-right:0px;border-right:unset;">
                                            <!-- Header Widget -->
                                            
                                            <!-- Header Widget / End -->
                                        </div>
                    <!-- Right Side Content / End -->

              
                </div>
            </div><div id="header" class="head-tr bottom cloned unsticky">
                <div class="container container-header">
                    <!-- Left Side Content -->
                    <div class="left-side d-flex justify-content-center" style="width:100%">
                        <!-- Logo -->
                        <div id="logo" style="padding-right:100px">
                            <a href="/"><img src="/Template1/images/tunca-logo.png" data-sticky-logo="/Template1/images/tunca-logo.png" alt=""></a>
                        </div>
                        <!-- Mobile Navigation -->
                        <div class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
							<span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                        <!-- Main Navigation -->
                        <nav id="navigation" class="style-1 head-tr">
                            <ul id="responsive">
                                <li><a href="/" style="color: grey !important; font-weight: 700 !important;font-family: 'Nunito Sans', sans-serif !important;" class="clear navbar-item-linkk">Anasayfa</a>
                                </li><li><a href="Home/list" style="color: grey !important; font-weight: 700 !important;font-family: 'Nunito Sans', sans-serif !important;" class="clear navbar-item-linkk">İlanlar</a></li>
                                <li><a href="/contactus" style="color: grey !important; font-weight: 700 !important;font-family: 'Nunito Sans', sans-serif !important;" class="clear navbar-item-linkk">Hakkımızda</a></li>
                                <li><a href="/gallery" style="color: grey !important; font-weight: 700 !important;font-family: 'Nunito Sans', sans-serif !important;" class="clear navbar-item-linkk">Galeri</a></li>
                                <li><a href="/takim" style="color: grey !important; font-weight: 700 !important;font-family: 'Nunito Sans', sans-serif !important;" class="clear navbar-item-linkk">Danışmanlarımız</a></li>
                                <li><a href="/contactusnew" style="color: grey !important; font-weight: 700 !important;font-family: 'Nunito Sans', sans-serif !important;" class="clear navbar-item-linkk">Bize Ulaşın</a></li>
                                <li style="margin-left:100px"><a target="_blank" href="https://www.instagram.com/tuncagayrimenkul" style="color: grey !important; font-weight: 700 !important;font-family: 'Nunito Sans', sans-serif !important;" class="clear navbar-item-linkk"><i class="fab fa-instagram"></i></a></li>

                                    </ul>
                        </nav>
                        <!-- Main Navigation / End -->
                    </div>
                    <!-- Left Side Content / End -->
                    <div class="right-side d-none d-none d-lg-none d-xl-flex sign ml-0">
                        <!-- Header Widget -->
                        
                        <!-- Header Widget / End -->
                    </div>
                    <!-- Right Side Content / End -->
                    <div class="right-side d-none d-none d-lg-none d-xl-flex sign ml-0" style="margin-right:0px;border-right:unset;">
                                            <!-- Header Widget -->
                                            
                                            <!-- Header Widget / End -->
                                        </div>
                    <!-- Right Side Content / End -->

              
                </div>
            </div>
            <!-- Header / End -->

        </header>
        <div class="clearfix"></div>
<!-- Header Container / End -->
@RenderBody()
    <!-- START FOOTER -->
   <footer class="first-footer">
                  <div class="top-footer">
                      <div class="container">
                          <div class="row">
                              <div class="col-lg-9 col-md-6">
                                  <div class="netabout">
                                      <a href="index.html" class="logo">
                                          <img src="~/Template1/images/tunca-logo.png" alt="netcom">
                                      </a>
                                      <p>Marmara’nın her geçen gün gelişmekte olan Kocaeli İlinde Gayrimenkul Danışmanlığı alanında güvenli, objektif ve kaliteli bir şekilde işlemlerinizi sonuçlandırmaktan gurur duyarız. İzmit’te bulunmakta olan genel merkezimizde profesyonel kadromuz genç ve dinamik ekibimizke sorunlarınıza hızlı ve kaliteli çözüm sağlıyoruz. Yenilikçi vizyonumuzla siz değerli müşterilerimize hizmet vermek için ulaşım numaralaramızdan bizimle her zaman irtibata geçebilirsiniz.</p>
                                  </div>
                                  @* <div class="contactus"> *@
                                  @*     <ul> *@
                                  @*         <li> *@
                                  @*             <div class="info"> *@
                                  @*                 <i class="fa fa-map-marker" aria-hidden="true"></i> *@
                                  @*                 <p class="in-p">95 South Park Avenue, USA</p> *@
                                  @*             </div> *@
                                  @*         </li> *@
                                  @*         <li> *@
                                  @*             <div class="info"> *@
                                  @*                 <i class="fa fa-phone" aria-hidden="true"></i> *@
                                  @*                 <p class="in-p">+456 875 369 208</p> *@
                                  @*             </div> *@
                                  @*         </li> *@
                                  @*         <li> *@
                                  @*             <div class="info"> *@
                                  @*                 <i class="fa fa-envelope" aria-hidden="true"></i> *@
                                  @*                 <p class="in-p ti">supportfindhouses.com</p> *@
                                  @*             </div> *@
                                  @*         </li> *@
                                  @*     </ul> *@
                                  @* </div> *@
                              </div>
                              
                              
                              
                          <div class="col-lg-3 col-md-6 d-flex justify-content-center align-items-center">
                                  <div class="netabout">
                                      
                                      @* <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum incidunt architecto soluta laboriosam, perspiciatis, aspernatur officiis esse.</p> *@
                                  </div>
                                  <div class="contactus">
                                      <ul>
                                          <li>
                                              <div class="info">
                                                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                  <p class="in-p">Karabaş Mah. Köseoğlu Sk. No:21/A
                                                                  İzmit/KOCAELİ</p>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="info">
                                                  <i class="fa fa-phone" aria-hidden="true"></i>
                                                  <p class="in-p">(0262) 323 8919</p>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="info">
                                                  <i class="fa fa-envelope" aria-hidden="true"></i>
                                                  <p class="in-p ti">info@tuncagayrimenkul.com</p>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </div></div>
                      </div>
                  </div>
                  <div class="second-footer">
                      <div class="container">
                          <p>2021 © Copyright - Tüm hakları Tuncagayrimenkule aittir.</p>
                          <ul class="netsocials">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                              <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li>
                        <a href="https://tuncagayrimenkul.sahibinden.com/" target="_blank">
                            <i class="fab svgClass">
                                <svg xmlns="http://www.w3.org/2000/svg" style="width:2.5rem; color: rgb(255, 225, 31);" width="16" height="16" viewBox="0 0 32 32">
                                    <path d="M0 0v32h32v-32zM15.354 6.297c0.75-0.010 1.51-0.005 2.255 0.083 3.214 0.073 6.469 2.906 6.505 6.010h-4.427c0.016-0.922-0.802-2.073-1.703-2.307-1.474-0.359-3.281-0.474-4.573 0.391-0.984 0.594-1.422 2.229-0.125 2.74 3.047 1.448 6.875 1.13 9.63 3.167 2.266 1.609 2.13 4.885 0.365 6.781-2.292 2.453-6.182 2.844-9.464 2.375-3.266-0.156-6.344-2.995-6.427-6.083h4.417c-0.078 1.109 0.849 2.078 1.943 2.427 1.698 0.37 3.635 0.479 5.24-0.25 1.281-0.432 1.37-2.057 0.38-2.807-2.125-1.193-4.75-1.229-7.063-2.021-2.682-0.521-4.854-3.036-4.344-5.599 0.563-3.12 4.167-4.969 7.391-4.906z" fill="#ffe11f"></path>
                                </svg>
                            </i>
                        </a>
                    </li>
                          </ul>
                      </div>
                  </div>
              </footer>
        <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        <!-- END FOOTER -->

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>