@using Data.Entities.Models;
@model Advert

@{
    Layout = "_LayoutAdmin";
}

<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="html 5 template">
    <meta name="author" content="">
    <title>Find Houses - HTML5 Template</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<style>
    #example {
        table-layout: fixed;
    }

</style>
<body>
   
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">İlanlar</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Anasayfa</a>
                                    </li>
                                    <li class="breadcrumb-item active">İlanlar
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="content-body">
                <!-- Kick start -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">İlanlar Tablosu</h4>
                    </div>
                    <div class="card-body">
                        <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Başlığı</th>
                <th>Açıklaması</th>
                <th>Ev tipi</th>
                <th>İli</th>
                <th>İlçesi</th>
                <th>İlan tipi</th>
                <th>Metrekare</th>
                <th>Fiyat</th>
                <th>Diğer özellikleri</th>
                                    <th>Oluşturma Tarihi</th>
                                    <th>Öne Çıkarılan?</th>
                <th>Eylemler</th>
            </tr>
        </thead>
        <tbody>
          
    </table>
                    </div>
                </div>
                <!--/ Kick start AddAdvertApi

            </div>
        </div>
       
    <!-- ADD MODAL-->
    <div>
        <div class="modal fade text-start" id="addAdvertModal" tabindex="-1" aria-labelledby="myModalLabel33" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel33">İlan</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                        <form action="/admin/AddAdvertApi" method="POST" enctype="multipart/form-data">
                        <div class="modal-body" style="">
                            <input id="EditUserId" type="hidden" class="form-control" name="Id">
                            <div class="row">
                                    <div class="col-md-6">
                                       <label asp-for="Title">İlan başlığı</label>
                            <div class="mb-1">
                                            <input id="EditUsername" type="text" placeholder="İlan Adı" class="form-control" asp-for="Title">
                            </div>
                                        <label asp-for="Description">İlan Açıklaması </label>
                            <div class="mb-1">
                                <input id="EditName" type="text" placeholder="İlan Açıklaması" class="form-control" asp-for="Description">
                            </div>
                            <label>Şehir</label>
                            <div class="mb-1">
                            <Select type="text" placeholder="İl" class="form-control" asp-for="Location"
                                    asp-items="Html.GetEnumSelectList<LocationEnum>()"></Select>
                            </div>
                            <label asp-for="District">İlçe </label>
                            <div class="mb-1">
                                <input id="" type="text" placeholder="İlçe" class="form-control" asp-for="District">
                            </div>

                            <label asp-for="HouseType">Ev Tipi </label>
                            <div class="mb-1">
                                  <Select type="text" placeholder="Telefon Numarası" class="form-control" asp-for="HouseType "
                                                            asp-items="Html.GetEnumSelectList<HouseTypeEnum>()"></Select>
                            </div>
                                        <label asp-for="AdvertType">İlan Tipi</label>
                            <div class="mb-1">
                                <input type="text" placeholder="Telefon Numarası" class="form-control" asp-for="HouseType">
                            </div>
                                                <label asp-for="BedroomNumber">Yatak odası sayısı</label>
                                                <div class="mb-1">
                                                    <input type="text" placeholder="Telefon Numarası" class="form-control" asp-for="BedroomNumber">
                                                </div>
                                                <label asp-for="BathroomNumber">Banyo sayısı</label>
                                                <div class="mb-1">
                                                    <input type="number" placeholder="Banyo Sayısı" class="form-control" asp-for="BedroomNumber">
                                                </div>
                                    </div>
                                    <div class="col-md-6">
                                      
                                <label asp-for="Meters">Metre kare</label>
                                <div class="mb-1">
                                    <input type="number" placeholder="Metre Kare" class="form-control" asp-for="Meters">
                                </div>
                                <label asp-for="Price">Fiyatı</label>
                                <div class="mb-1">
                                    <input type="number" placeholder="Telefon Numarası" class="form-control" asp-for="Price">
                                </div>
                                <label asp-for="BathroomNumber">Banyo sayısı</label>
                                <div class="mb-1">
                                    <input type="number" placeholder="Telefon Numarası" class="form-control" asp-for="IsFeatured">
                                </div>
                                <div class="mb-1">
                                  <Select type="text" placeholder="Telefon Numarası" class="form-control" asp-for="ExtraAttributes"
                                                            asp-items="Html.GetEnumSelectList<ExtraAttributeEnum>()"></Select>
                                </div>

                                <div class="mb-1">
                                <label asp-for="ImageFile.ImageName" class="control-label">Resim Adı</label>
                                <input asp-for="ImageFile.ImageName" class="form-control" />
                                <span asp-validation-for="ImageFile.ImageName" class="text-danger"></span>
                                </div>
                                <div class="mb-1">
                                    <label asp-for="ImageFile.ImageFile" class="control-label">Resim Yükle</label>
                                            <input asp-for="ImageFile.ImageFile" accept="image/*"  />
                                    <span asp-validation-for="ImageFile.ImageFile" class="text-danger"></span>
                                </div>
                                    </div>
                                </div>
                            

                            
                        </div>

                            

                        <div class="d-flex justify-content-around">
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary waves-effect waves-float waves-light" data-bs-dismiss="modal">Düzenle</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger waves-effect waves-float waves-light" data-bs-dismiss="modal">İptal</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

                <!-- Edit MODAL-->
                <div>
                    <div class="modal fade text-start" id="editAdvertModal" tabindex="-1" aria-labelledby="myModalLabel332">
                       

                        <div  class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div id="modalContent" >
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel33">İlan</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="model-body-content"></div>
                          </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<partial name="_AdvertEditPartial" />*@


            @section Scripts {

       <script>
            $(document).ready(function () {
                var table = $('#example').DataTable({
                    ajax: {
                        url: '/admin/getadvertsapi',
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                    },
                    columns: [

                        { data: "title" },
                        { data: "description" },
                        { data: "houseType" },
                        { data: "location" },
                        { data: "district" },
                        { data: "advertType" },
                        { data: "meters" },
                        { data: "price" },
                        { data: "createdDateString" },
                        { data: "extraAttributes" },
                                    { data: "isFeatured" },
                        {
                            data: "id", render: function (data, type, row, meta) {
                                console.log(row)
                                            return '<button type="button" data-url="www.google.com" onclick=Edit(' + row.id + ') data-bs-toggle="modal" data-bs-target="#editAdvertModal"  class="btn btn-outline-primary waves-effect" style="padding:1.5px 2.5px">' +
                                                '<span>Düzenle</span>' +
                                                '</button>' +
                                                '<button onclick=Delete(' + row.id + ') type="button" class="btn btn-outline-primary waves-effect"  style="padding:1.5px 2.5px">' +
                                                '<span> Sil</span>' +
                                                '</button>'
                                        }
                        }
                    ],
                                responsive: true,
                                scrollX: true,

                    dom: 'Bfrtip',
                    buttons: [{
                        extend: 'copy',
                        className: 'copyButton'
                    },
                    {
                        extend: 'csv',
                        className: 'csvButton'
                    },
                    {
                        extend: 'excel',
                        className: 'excelButton'
                    },
                    {
                        extend: 'print',
                        className: 'printButton'
                    },
                    { 
                        text: 'Yeni İlan Ekle',
                        attr: {
                            'data-bs-toggle': 'modal',
                            'data-bs-target' : '#addAdvertModal'
                        },
                        action: function (e, dt, node, config) {
                        }
                    }
                    ],
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/tr.json',
                    },
                });
                //Selection table
                //$('#example tbody').on('click', 'tr', function () {
                //    $(this).toggleClass('selected');
                //});

                //$('#button').click(function () {
                //    alert(table.rows('.selected').data().length + ' row(s) selected');
                //});
            });

            function Edit(AdvertId){

                            var url = '/admin/EditAdvert?id=' + AdvertId;

                            $("#modalContent .model-body-content").load(url, function () {
                                $("#editAdvertLoader").modal("show");

                            })

                /*
                            $('#editAdvertLoader').show();
                            $('#editAdvertLoader').addClass('d-flex');
                            $('#modalContent').hide();
                            
                            $.ajax({

                                url: '/admin/EditAdvert?id=' + AdvertId,
                                type: 'GET',
                                success: function (data) {
                                    $('#editAdvertLoader').hide();
                                    $('#editAdvertLoader').removeClass('d-flex');
                                    $('#modalContent').show();

                                },
                                error: function (request, error) {
                                    Swal.fire({
                                        title: 'Hata oluştu!',
                                        text: 'İşlem sırasında bir hata ile karşılaşıldı, lütfen daha sonra tekrar deneyiniz.',
                                        icon: 'error',
                                        customClass: {
                                            confirmButton: 'btn btn-success'
                                        }
                                    });
                                }
                            });
                            */
            }

            function ReloadTable() {
                $('#example').DataTable().clear();
                $('#example').DataTable().ajax.reload();
            }


            function Delete(advert) {
                console.log(advert)
                Swal.fire({
                    title: 'Emin misiniz ?',
                    text: "Bu işlemi geri alamazsınız, Emin misiniz ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Evet, Sil!',
                    customClass: {
                        confirmButton: 'btn btn-primary',
                        cancelButton: 'btn btn-outline-danger ms-1'
                    },
                    buttonsStyling: false
                }).then(function (result) {
                    if (result.value) {
                        $.ajax({

                            url: '/admin/DeleteAdvertApi?id=' + advert.id,
                            type: 'Post',
                            success: function (data) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Silindi!',
                                    text: 'İlan başarı ile silindi.',
                                    customClass: {
                                        confirmButton: 'btn btn-success'
                                    }
                                });
                            },
                            error: function (request, error) {
                                Swal.fire({
                                    title: 'Hata oluştu!',
                                    text: 'İşlem sırasında bir hata ile karşılaşıldı, lütfen daha sonra tekrar deneyiniz.',
                                    icon: 'error',
                                    customClass: {
                                        confirmButton: 'btn btn-success'
                                    }
                                });
                            }
                        });

                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.fire({
                            title: 'İptal edildi',
                            text: 'İlan güvende :)',
                            icon: 'error',
                            customClass: {
                                confirmButton: 'btn btn-success'
                            }
                        });
                    }
                });

            }


</script>

                    <script src="~/AdminTemplate2/vendors/js/extensions/sweetalert2.all.min.js"></script>
                    <script src="~/AdminTemplate2/vendors/js/extensions/polyfill.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
}
 
</body>

</html>
